
@model IEnumerable<EmployeeDto>
@{
    Layout = "_Layout";
    ViewData["Tittle"] = "Employee";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 3000);
        });
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <text>
        toastr.error("@TempData["ErrorMessage"]");
    </text>
}
@if (TempData["DeleteMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["DeleteMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<h2>Employees</h2>
<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Create New Employee</a>
<div class="container mt-4">
    <h2 class="mb-4">Search Items</h2>

    <form asp-action="Index" method="get" class="row g-3">
        <div class="col-md-8">
            <label for="search" class="form-label">Name or Email:</label>
            <input type="text" id="search" name="search" class="form-control" placeholder="Enter Name or Email" value="">
        </div>
        <div class="col-md-4 align-self-end">
            <button type="submit" class="btn btn-primary w-100">Search</button>
        </div>
    </form>

    <h3 class="mt-5">Results</h3>

    
   </div>
@if (@Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                @*  <th>
            @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Salary)
            </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => employee.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => employee.Name)
                    </td>

                    @*  <td>
            @Html.DisplayFor(modelItem => employee.Email)
            </td>
            <td>
            @Html.DisplayFor(modelItem => employee.Salary)
            </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => employee.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => employee.EmployeeType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => employee.IsActive)
                    </td>
                    <partial name="ButtonBartialView" model="@employee.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-5 alert alert-warning">
        <h3>There Is No Employee</h3>
    </div>
}
